@import 'tailwindcss';

body {
    font-family: "Tektur", sans-serif;
    background-color: #ECF0F5;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}
.Grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}